.sidebar-area {
  background-color: green;
}

.sidebar {
  border: 5px solid blueviolet;
  border-radius: 1em 1em 1em 1em;
  box-shadow: -10px 10px skyblue;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
  width: 20%;
  position: fixed;
  overflow-x: hidden;
}

.error-message {
  color: red;
}

.no-path {
  color: red;
}

.board-area {
  margin-left: 20%;
}

.columns {
  border: 5px solid black;
  margin: 0;
  padding: 0;
}

.start {
  background-color: yellow;
}

.goal {
  background-color: yellow;
}

.board-padding {
  padding: 1.5vw 1.5vw 1.5vw 1.5vw;
}

.board-fill {
  animation-name: boardfill;
  animation-duration: 0.25s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.end-path-fill {
  animation-name: endfill;
  animation-duration: 0.25s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.wall-fill {
  animation-name: wallfill;
  animation-duration: 0.25s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes boardfill {
  0% {
    transform: scale(.3);
    background-color: skyblue;
    border-radius: 100%;
  }
  50% {
    background-color: skyblue;
  }
  100% {
    transform: scale(1);
    background-color: blue;
  }
}

@keyframes endfill {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1);
    background-color:yellow;
  }
}

@keyframes wallfill {
  0% {
    transform: scale(.3);
    background-color: darkgray;
    border-radius: 100%;
  }
  50% {
    background-color: darkgray;
  }
  100% {
    transform: scale(1);
    background-color:darkgray;
  }
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
